<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cargando...</title>
  <meta name="description" id="myDescription" content="Vende tus productos online con nosotros, el mejor ecommerce de América Latina">
  <link rel="icon">
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="quipu-admin">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>
  <link rel="preload" href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' as="style">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js" charset="UTF-8"></script>
  <script src="https://cdn.paymentez.com/checkout/1.0.1/paymentez-checkout.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.js"></script> -->
  <script src="https://cdn.xchange.la/paybox/index.js"></script>
  <script type="text/javascript">
    var data = {
      /* Email de la cuenta XChange o Id/Class del elemento html que posee el valor */
      PayboxRemail: "#PayboxRemail",
      /* Email del usuario que realiza el pago o Id/Class del elemento html que posee el valor */
      PayboxSendmail: "#PayboxSendmail",
      /* Nombre del usuario/cuenta XChange o Id/Class del elemento html que posee el valor */
      PayboxRename: "#PayboxRename",
      /* Nombre del usuario que realiza el pago o Id/Class del elemento html que posee el valor */
      PayboxSendname: "#PayboxSendname",
      /* Ejemplo: 100.00, 10.00, 1.00 o Id/Class del elemento html que posee el valor */
      PayboxAmount: "#PayboxAmount",
      /* Descripcion del pago o Id/Class del elemento html que posee el valor */
      PayboxDescription: "#PayboxDescription", 
      /* Tipo de Ejecución
      * Production: true (Modo Producción, Se procesarán cobros y se cargarán al sistema, afectará a la tdc)
      * Production: false (Modo Prueba, se realizaran cobros de prueba y no se guardará ni afectará al sistema)
      */
      PayboxProduction: false,
      /* Lenguaje del Paybox
      * Español: es | (string) (Paybox en español)
      * Ingles: us | (string) (Paybox en Ingles)
      */
      PayboxLanguage: "es",
      /* Valores HTML que son requeridos por la web que implementa el botón de pago.
      * Se permiten utilizar los identificadores de # y . que describen los Id y Class de los Elementos HTML
      * Array de identificadores de elementos HTML | Ejemplo: PayboxRequired: ["#nombre", "#correo", "#monto"]
      */
    PayboxRequired: []
  };
</script>

<script type="text/javascript">
  var onAuthorize = function(response) {
    // La variable response posee un Objeto con la respuesta de xchange.

    if (response.status == 'succeeded') {
        // Si el pago fue exitoso se ejecutará el código contenido en este if.

        /* Referencia a la vista donde se aplicará el authorize "parent.document" */

        /* Ejemplo */
        /* Insertar un el status de la transacción al final del body */
        /* jQuery(parent.document).find("body").append(response.status); */ 
    } else {
        // Si hubo un problema con el pago se ejecutará este código.
    }
  };
</script>
  
</head>

<body>
  <noscript>
    This is your fallback content in case JavaScript fails to load.
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
</body>

</html>