@font-face {
    font-family: 'Avenir Next Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Regular'), url('/static/fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Italic'), url('/static/fonts/AvenirNextLTPro-It.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Ultra Light';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Ultra Light'), url('/static/fonts/AvenirNextLTPro-UltLt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Ultra Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Ultra Light Italic'), url('/static/fonts/AvenirNextLTPro-UltLtIt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Medium Condensed'), url('/static/fonts/AvenirNextLTPro-MediumCn.woff') format('woff');
}


@font-face {
    font-family: 'Avenir Next Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Medium Italic'), url('/static/fonts/AvenirNextLTPro-MediumIt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi'), url('/static/fonts/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Demi Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi Italic'), url('/static/fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Bold'), url('/static/fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Heavy'), url('/static/fonts/AvenirNextLTPro-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Heavy Italic'), url('/static/fonts/AvenirNextLTPro-HeavyIt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Demi Bold';
    font-style: normal;
    font-weight: normal;
    src: ('Avenir Next Demi Bold'), url('/static/fonts/AvenirNext-DemiBold.woff') format('woff');
}
