$colors: (
	background: #fcfcfc,
	base: #acaaaa,
	black: #000000,
	border: #e6e6e6,
	dark: #4a4a4a,
	disabled: #f5f5f5,
	error: #ed6464,
	errorLight: #FDEDED,
	highLight: #f8e71c,
	primary: #f42b17,
	secondary: #004e9c,
	terciary: #006edb,
	white: #ffffff,
	gray: #f1f1f1,
	success: #7eca94,
);

$fonts: (
	bold: 'Avenir Next Bold',
	demi: 'Avenir Next Demi',
	demi-italic: 'Avenir Next Demi Italic',
	heavy: 'Avenir Next Heavy',
	heavy-italic: 'Avenir Next Heavy Italic',
	italic: 'Avenir Next Italic',
	medium: 'Avenir Next Medium',
	medium-italic: 'Avenir Next Medium Italic',
	regular: 'Avenir Next Regular',
	ultra-light: 'Avenir Next Ultra Light',
	ultra-light-italic: 'Avenir Next Ultra Light Italic',
	book: 'Avenir Next Book',
);

$sizes: (
	xsmall: 10px,
	msmall: 11px,
	small: 12px,
	minmedium: 13px,
	medium: 14px,
	large: 16px,
	xlarge: 18px,
	sbig: 20px,
	big: 24px,
);